@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply 
    text-5xl;
}
h2 {
    @apply
    text-3xl;
}
h3 {
    @apply
    text-2xl;
}
form {
    max-width: 70ch;
}

.form-group {
    @apply
    mt-4
    mb-4;
}

fieldset {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
}
fieldset legend {
    width: 100%;
}
fieldset input[type=radio] + label,
fieldset input[type=checkbox] + label {
    margin-left: 0.2rem;
    margin-right: 0.75rem;
}

legend, .input-label {
    @apply
    font-medium
    text-gray-800;
}
[type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
    @apply
    mt-1
    caret-ember-500
    shadow-sm 
    focus:ring-ember-500
    focus:border-ember-500
    block 
    w-full 
    sm:text-sm 
    border-gray-700 
    rounded-md;
}
.input-desc {
    @apply
    mt-2 
    text-sm 
    text-gray-700;
}
.input-select {
    @apply
    mt-1 
    block 
    w-full 
    pl-3 
    pr-10 
    py-2 
    text-base 
    border-gray-500 
    focus:outline-none 
    focus:ring-ember-500 
    focus:border-ember-500 
    sm:text-sm 
    rounded-md;
}

footer nav a,
footer p a {
    @apply
    text-base
    text-ember-400
    hover:text-ember-300
    underline-offset-4
    decoration-2
    hover:underline
    focus:border-ember-500;
}
footer a.footer-icon-interactive {
    @apply
    text-ember-400 
    hover:text-ember-500 
    hover:bg-ember-100 
    rounded-lg 
    text-sm 
    p-2.5 
    mr-1;
}