@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply 
    text-5xl;
}
h2 {
    @apply
    text-3xl;
}
h2 + p {
    @apply
    mt-0;
}
h3 {
    @apply
    text-2xl;
}
h3 + .form-group {
    @apply
    mt-1 !important;
}
aside nav a {
    @apply
    flex 
    font-medium
    hover:bg-white 
    items-center 
    px-3 
    py-2 
    rounded-md 
    text-ember-700 
    text-sm;
    /* apply should not be used with the group utility...why? */
}

.prose {
    @apply
    text-lg;
}
.prose.w-full {
    max-width: 100% !important;
    margin: 0 auto;
}
.prose p a {
    @apply
    decoration-2
    focus:border-ember-500
    hover:text-ember-600
    hover:underline
    text-ember-500 
    ;
}
.form-group {
    @apply
    mt-6
    mb-4;
}

fieldset {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
}

fieldset legend {
    width: 100%;
}
fieldset input[type=radio] + label,
fieldset input[type=checkbox] + label {
    margin-left: 0.2rem;
    margin-right: 0.75rem;
}

legend, .input-label {
    @apply
    font-bold
    text-slate-800;
}
[type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
    @apply
    block 
    border-slate-500 
    caret-ember-500
    focus:border-ember-500
    focus:ring-ember-500
    mt-1
    rounded-md
    shadow-md 
    sm:text-sm 
    w-full 
    ;
}
[type="checkbox"],
[type="radio"] {
    @apply
    accent-ember-500
    focus:ring-ember-500 
    h-4 
    w-4 
    text-ember-600 
    border-slate-500;
}
.input-desc {
    @apply
    mt-2 
    text-sm 
    text-slate-700;
}
.input-select {
    @apply
    mt-1 
    block 
    w-full 
    pl-3 
    pr-10 
    py-2 
    text-base 
    border-slate-500 
    focus:outline-none 
    focus:ring-ember-500 
    focus:border-ember-500 
    sm:text-sm 
    rounded-md;
}

footer nav a,
footer p a {
    @apply
    text-base
    text-ember-400
    hover:text-ember-300
    underline-offset-4
    decoration-2
    hover:underline
    focus:border-ember-500;
}
footer a.footer-icon-interactive {
    @apply
    text-ember-400 
    hover:text-ember-500 
    hover:bg-ember-100 
    rounded-lg 
    text-sm 
    p-2.5 
    mr-1;
}