
        <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
          <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
            <div>
              <h2 id="at-work">
                <a href="#at-work" class="text-ember-500 text-md">
                  ยง
                </a>
                Ember At Work
              </h2>
              <p>
                This section relates to how you use Ember in at work.
              </p>
            </div>
            {{! questions go here }}
            <div class="form-group">
              <fieldset>
                <legend class="input-label" aria-describedby="work-use-desc">
                  Is Ember used at your place of work?
                </legend>
                <p id="work-use-desc" class="w-full mt-0 mb-2 text-sm text-slate-700">
                  Note: you do not have to personally work on an Ember app
                  at your workplace to answer 'Yes' to this question.
                </p>
                <input type="radio" id="work-use-ember-yes" name="work-use-ember" />
                <label for="work-use-ember-yes">
                  Yes
                </label>
                <input type="radio" id="work-use-ember-no" name="work-use-ember" />
                <label for="work-use-ember-no">
                  No
                </label>
                <input type="radio" id="work-use-ember-idk" name="work-use-ember" />
                <label for="work-use-ember-idk">
                  I don't know
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend class="input-label">
                  In which industry or sector(s) does your employer operate?
                </legend>
                <div class="grid grid-cols-2">
                  <div class="col-span-1">
                    <div>
                      <input type="checkbox" id="ws-agriculture" name="work-sector" value="agriculture" />
                      <label for="ws-agriculture">
                        Agriculture
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-advertising" name="work-sector" value="advertising" />
                      <label for="ws-advertising">
                        Advertising
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-arts-entertainment" name="work-sector" value="arts-entertainment" />
                      <label for="ws-arts-entertainment">
                        Arts & Entertainment
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-consulting" name="work-sector" value="consulting" />
                      <label for="ws-consulting">
                        Consulting
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-education" name="work-sector" value="education" />
                      <label for="ws-education">
                        Education
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-financial-services" name="work-sector" value="financial-services" />
                      <label for="ws-financial-services">
                        Financial Services
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-government" name="work-sector" value="government" />
                      <label for="ws-government">
                        Government
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-health-care" name="work-sector" value="health-care" />
                      <label for="ws-health-care">
                        Health Care
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-insurance" name="work-sector" value="insurance" />
                      <label for="ws-insurance">
                        Insurance
                      </label>
                    </div>
                  </div>
                  <div class="col-span-1">
                    <div>
                      <input type="checkbox" id="ws-manufacturing" name="work-sector" value="manufacturing" />
                      <label for="ws-manufacturing">
                        Manufacturing
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-real-estate" name="work-sector" value="real-estate" />
                      <label for="ws-real-estate">
                        Real Estate
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-retailers" name="work-sector" value="retailers" />
                      <label for="ws-retailers">
                        Retailers (Including Online)
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-technology" name="work-sector" value="technology" />
                      <label for="ws-technology">
                        Technology
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-utilities" name="work-sector" value="utilities" />
                      <label for="ws-utilities">
                        Utilities (Telecom/Energy)
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-transportation" name="work-sector" value="transportation" />
                      <label for="ws-transportation">
                        Transportation
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-hospitality" name="work-sector" value="hospitality" />
                      <label for="ws-hospitality">
                        Hospitality
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-other" name="work-sector" value="other" />
                      <label for="ws-other">
                        Other
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="ws-other-text">If you answered other, in which industry/sector do you work?</label>
              <input type="text" name="ws-other-text" id="ws-other-text">
            </div>
            <div class="form-group">
              <label for="work-all-size" class="input-label">How many people are there at your entire
                company?</label>
              <select name="work-all-size" id="work-all-size">
                <option value="">--please select one--</option>
                <option value="Between 1 - 10">1 - 10</option>
                <option value="Between 11 - 20">11 - 20</option>
                <option value="Between 21 - 50">21 - 50</option>
                <option value="Between 51 - 100">51 - 100</option>
                <option value="Between 101 - 1,000">101 - 1,000</option>
                <option value="Greater than 1,000">More than 1,000</option>
                <option value="I don't know">I don't know</option>
              </select>
            </div>
            <div class="form-group">
              <label class="input-label" for="select-work-fe-dev">
                  How many developers at your company are responsible for writing
                  front-end code?
              </label>
              <select id="select-work-fe-dev" name="select-work-fe-dev">
                <option value="">--please choose one--</option>
                <option value="none">None</option>
                <option value="one to ten">Between 1 - 10</option>
                <option value="elevent to twenty">Between 11 - 20</option>
                <option value="21 to fifty">Between 21 - 50</option>
                <option value="fifty one to one hundred">Between 51 - 100</option>
                <option value="more than 101">Greater than 100</option>
                <option value="I do not know">I don't know</option>
              </select>
            </div>
            <div class="form-group">
              <label for="select-work-fe-ember" class="input-label">How many developers at your company are responsible for writing code in Ember? </label>
               <select id="select-work-fe-ember" name="select-work-fe-ember">
                <option value="">--please choose one--</option>
                <option value="none">None</option>
                <option value="one to ten">Between 1 - 10</option>
                <option value="elevent to twenty">Between 11 - 20</option>
                <option value="21 to fifty">Between 21 - 50</option>
                <option value="fifty one to one hundred">Between 51 - 100</option>
                <option value="more than 101">Greater than 100</option>
                <option value="I do not know">I don't know</option>
              </select>
            </div>
            <div class="form-group">
              <fieldset>
                <legend class="input-label">
                  How often do you personally use Ember at work?
                </legend>
                <ul>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-company-ember-usage-frequency-all-of-the-time"
                      name="work-company-ember-usage-frequency" value="All of the time" />
                    <label for="work-company-ember-usage-frequency-all-of-the-time">
                      All of the time
                    </label>
                  </li>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-company-ember-usage-frequency-most-of-the-time"
                      name="work-company-ember-usage-frequency" value="Most of the time" />
                    <label for="work-company-ember-usage-frequency-most-of-the-time">
                      Most of the time
                    </label>
                  </li>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-company-ember-usage-frequency-some-of-the-time"
                      name="work-company-ember-usage-frequency" value="Some of the time" />
                    <label for="work-company-ember-usage-frequency-some-of-the-time">
                      Some of the time
                    </label>
                  </li>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-company-ember-usage-frequency-never"
                      name="work-company-ember-usage-frequency" value="Never" />
                    <label for="work-company-ember-usage-frequency-never">
                      Never / I do not personally use Ember at work
                    </label>
                  </li>
                </ul>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
              <legend class="input-label">
                Does your company intend to hire more Ember developers in the next
                year?
              </legend>
              <input type="radio" id="work-company-ember-hiring-plan-yes" name="work-company-ember-hiring-plan"
                value="Yes" />
              <label for="work-company-ember-hiring-plan-yes">
                Yes
              </label>
              <input type="radio" id="work-company-ember-hiring-plan-no" name="work-company-ember-hiring-plan"
                value="No" />
              <label for="work-company-ember-hiring-plan-no">
                No
              </label>
              <input type="radio" id="work-company-ember-hiring-plan-idk" name="work-company-ember-hiring-plan"
                value="I don't know" />
              <label for="work-company-ember-hiring-plan-idk">
                I don't know
              </label>
              </fieldset>
            </div>
            <div class="form-group">

              <label for="select-work-eapp-count" class="input-label">How many Ember apps does your company have?</label>
               <select id="select-work-eapp-count" name="select-work-ember-app-count">
                <option value="">--please choose one--</option>
                <option value="none">None</option>
                <option value="one to ten">Between 1 - 10</option>
                <option value="elevent to twenty">Between 11 - 20</option>
                <option value="21 to fifty">Between 21 - 50</option>
                <option value="fifty one to one hundred">Between 51 - 100</option>
                <option value="more than 101">Greater than 100</option>
                <option value="I do not know">I don't know</option>
              </select>

            </div>
            <div class="form-group">
              <fieldset>
                <legend class="input-label">
                  Which choice best describes the overall distribution of web
                  applications at your company: of all of the web applications at
                  my company, _______ of them are Ember apps.
                </legend>
                <ul>
                  <li>
                    <input type="radio" id="work-apps-proportion-all"
                  name="work-apps-proportion" value="All" />
                    <label for="work-apps-proportion-all">All</label>
                  </li>
                  <li>
                    <input type="radio" id="work-apps-proportion-most"
                      name="work-apps-proportion" value="Most" />
                    <label for="work-apps-proportion-most">Most</label>
                  </li>
                  <li>
                    <input type="radio" id="work-apps-proportion-half"
                      name="work-apps-proportion" value="Half" />
                    <label for="work-apps-proportion-half">Half</label>
                  </li>
                  <li>
                    <input type="radio" id="work-apps-proportion-some"
                      name="work-apps-proportion" value="Some" />
                    <label for="work-apps-proportion-some">
                      Some
                    </label>
                  </li>
                  <li>
                    <input type="radio" id="work-apps-proportion-none"
                      name="work-apps-proportion" value="None" />
                    <label for="work-apps-proportion-none">
                      None
                    </label>
                  </li>
                </ul>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="select-work-ember-version" class="input-label">
                If there is a version of Ember you primarily work with at your
                job, what is it?
              </label>
              <select class="input-select" id="select-work-ember-version">
                <option value="blank">--please select one--</option>
                <option value="1.x">1.x</option>
                <option value="2.x">2.x</option>
                <option value="3.0 - 3.4">3.0 - 3.4</option>
                <option value="3.5 - 3.8">3.5 - 3.8</option>
                <option value="3.9 - 3.12">3.9 - 3.12</option>
                <option value="3.13 - 3.16">3.13 - 3.16</option>
                <option value="3.17 - 3.20">3.17 - 3.20</option>
                <option value="3.21 - 3.24">3.21 - 3.24</option>
                <option value="3.25 - 3.28">3.25 - 3.28</option>
                <option value="4.x">4.x</option>
                <option value="None">None</option>
                <option value="I don't know">I don't know</option>
              </select>
            </div>
            <div class="form-group">
              <fieldset>
                <legend class="input-label">
                  What version(s) of Ember do you regularly work with at your job?
                </legend>
                <ul>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-1-x"
                      name="work-company-apps-ember-versions-used" value="1.x" />
                    <label for="work-company-apps-ember-versions-used-1-x">
                      1.x
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-2-x"
                      name="work-company-apps-ember-versions-used" value="2.x" />
                    <label for="work-company-apps-ember-versions-used-2-x">
                      2.x
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-3-0-3-4"
                      name="work-company-apps-ember-versions-used" value="3.0 - 3.4" />
                    <label for="work-company-apps-ember-versions-used-3-0-3-4">
                      3.0 - 3.4
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-3-5-3-8"
                      name="work-company-apps-ember-versions-used" value="3.5 - 3.8" />
                    <label for="work-company-apps-ember-versions-used-3-5-3-8">
                      3.5 - 3.8
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-3-9-3-12"
                      name="work-company-apps-ember-versions-used" value="3.9 - 3.12" />
                    <label for="work-company-apps-ember-versions-used-3-9-3-12">
                      3.9 - 3.12
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-3-13-3-16"
                      name="work-company-apps-ember-versions-used" value="3.13 - 3.16" />
                    <label for="work-company-apps-ember-versions-used-3-13-3-16">
                      3.13 - 3.16
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-3-17-3-20"
                      name="work-company-apps-ember-versions-used" value="3.17 - 3.20" />
                    <label for="work-company-apps-ember-versions-used-3-17-3-20">
                      3.17 - 3.20
                    </label>

                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-3-21-3-24"
                      name="work-company-apps-ember-versions-used" value="3.21 - 3.24" />
                    <label for="work-company-apps-ember-versions-used-3-21-3-24">
                      3.21 - 3.24
                    </label>

                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-3-25-3-28"
                      name="work-company-apps-ember-versions-used" value="3.25 - 3.28" />
                    <label for="work-company-apps-ember-versions-used-3-25-3-28">
                      3.25 - 3.28
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-4-x"
                      name="work-company-apps-ember-versions-used" value="4.x" />
                    <label for="work-company-apps-ember-versions-used-4-x">
                      4.x
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-idk"
                      name="work-company-apps-ember-versions-used" value="I don't know" />
                    <label for="work-company-apps-ember-versions-used-idk">
                      I don't know
                    </label>

                  </li>
                </ul>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend class="input-label">
                  If you use Ember Data in your company's Ember apps, do you
                  typically use the same version as the framework, or do you
                  manually change it to a different version number?
                </legend>
                <ul>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-company-apps-ember-data-version-same"
                      name="work-company-apps-ember-data-version" value="It stays the same" />
                    <label for="work-company-apps-ember-data-version-same">
                      It stays the same
                    </label>
                  </li>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-company-apps-ember-data-version-different"
                      name="work-company-apps-ember-data-version" value="We change it to something else" />
                    <label for="work-company-apps-ember-data-version-different">
                      We change it to something else
                    </label>
                  </li>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-company-apps-ember-data-version-none"
                      name="work-company-apps-ember-data-version" value="We don't use ember-data" />
                    <label for="work-company-apps-ember-data-version-none">
                      We don't use Ember Data
                    </label>
                  </li>
                </ul>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="work-ember-data-other-text" class="input-label">If you don't use Ember Data, what do you use?</label>
              <input type="text" id="work-ember-data-other-text" name="work-ember-data-other-text" />
            </div>
            <div class="form-group">
              <fieldset>
                <legend class="input-label">
                  If you use Ember CLI in your company's Ember apps, do you
                  typically use the same version as the framework or do you
                  manually change it to a different version number?
                </legend>
                <ul>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-app-cli-ver-same"
                      name="work-app-cli-ver" value="It stays the same" />
                    <label for="work-app-cli-ver-same">
                      It stays the same
                    </label>
                  </li>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-app-cli-ver-different"
                      name="work-app-cli-ver" value="We change it to something else" />
                    <label for="work-app-cli-ver-different">
                      We change it to something else
                    </label>
                  </li>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-app-cli-ver-none"
                      name="work-app-cli-ver" value="We don't use ember-cli" />
                    <label for="work-app-cli-ver-none">
                      We don't use Ember CLI
                    </label>
                  </li>
                </ul>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend class="input-label">
                  What testing framework do you use most frequently in your Ember
                  apps at work?
                </legend>
                <ul>
                  <li>
                    <input type="radio" id="work-test-fw-mocha"
                      name="work-test-fw"
                      value="Mocha (via ember-mocha or ember-cli-mocha)" />
                    <label for="work-test-fw-mocha">
                      Mocha (via ember-mocha or ember-cli-mocha)
                    </label>

                  </li>
                  <li>
                    <input type="radio" id="work-test-fw-qunit"
                      name="work-test-fw"
                      value="QUnit (via ember-quinit or ember-cli-qunit)" />
                    <label for="work-test-fw-qunit">
                      QUnit (via ember-quinit or ember-cli-qunit)
                    </label>
                  </li>
                  <li>
                    <input type="radio" id="work-test-fw-none"
                      name="work-test-fw" value="I dont write tests" />
                    <label for="work-test-fw-none">
                      I don't write tests
                    </label>
                  </li>
                  <li>
                    <input type="radio" id="work-test-fw-other"
                      name="work-test-fw" value="Other" />
                    <label for="work-test-fw-other">
                      Other
                    </label>
                  </li>
                </ul>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="work-test-fw-other-text" class="input-label">If you answered "other", what test framework do you most frequently use at work?</label>
              <input type="text" name="work-test-fw-other-text" id="work-test-fw-other-text" />
            </div>
            <div class="form-group">
              <label for="work-ssf" class="input-label">Which of these server-side frameworks do you primarily
                use in your Ember apps at work?</label>
              <select name="server-side-framework-work" id="work-ssf" class="input-select">
                <option value="">--please select one--</option>
                <option value="rails">Rails</option>
                <option value="express">Express</option>
                <option value="Spring / Java">Spring / Java</option>
                <option value="PHP">PHP</option>
                <option value="Elixir">Elixir</option>
                <option value="dotNET">.NET</option>
                <option value="Django">Django</option>
                <option value="Custom">custom internal framework</option>
                <option value="None">None</option>
                <option value="I dont know">I don't know</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="form-group">
              <label for="deploy-work" class="input-label">Where do you primarily deploy your apps?</label>
              <select name="deploy-work" id="deploy-work" class="input-select">
                <option value="">--please select one--</option>
                <option value="aws">Amazon Web Services (AWS)</option>
                <option value="azure">Azure</option>
                <option value="digital-ocean">Digital Ocean</option>
                <option value="github-pages">GitHub Pages</option>
                <option value="heroku">Heroku</option>
                <option value="netlify">Netlify</option>
                <option value="self-host">Self-hosted</option>
                <option value="vercel">Vercel</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="form-group">
              <label for="deploy-work-other-text" class="input-label">If you answered "other", what do you use?</label>
              <input type="text" id="deploy-work-other-text" name="deploy-work-other-text" />
            </div>
            <div class="form-group">
              <fieldset>
                <legend class="input-label">
                  What is the primary target platform for your company's Ember apps?
                </legend>
                <ul>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-app-plat-mobile-only"
                      name="work-app-plat" value="Mobile device only" />
                    <label for="work-app-plat-mobile-only">
                      Mobile only
                    </label>
                  </li>
                  <li class="sm:block lg:inline-block">
                  <input type="radio" id="work-app-plat-desktop-only"
                    name="work-app-plat" value="Desktop only" />
                  <label for="work-app-plat-desktop-only">
                    Desktop only
                  </label>
                  </li>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-app-plat-responsive"
                      name="work-app-plat" value="Fully responsive (desktop + devices)" />
                    <label for="work-app-plat-responsive">
                      Both
                    </label>
                  </li>
                </ul>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend class="input-label">
                  Who are the primary target users of your company's Ember apps?
                </legend>
                <ul>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-app-users-b2c"
                      name="work-app-users" value="General public (B2C)" />
                    <label for="work-app-users-b2c">
                      General public (B2C)
                    </label>
                   </li>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-app-users-internal"
                      name="work-app-users" value="Internal users" />
                    <label for="work-app-users-internal">
                      Internal users
                    </label>
                   </li>
                  <li class="sm:block lg:inline-block">
                    <input type="radio" id="work-app-users-b2b"
                      name="work-app-users" value="Business consumers (B2B)" />
                    <label for="work-app-users-b2b">
                      Business consumers (B2B)
                    </label>
                  </li>
                </ul>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="work-app-users-num" class="input-label">How many end users do your company's Ember apps
                support?</label>
              <select name="work-app-users-num" id="work-app-users-num" class="input-select">
                <option value="">--please select one--</option>
                <option value="Between 1 - 1,000">1 - 1,000</option>
                <option value="Between 1,001 - 10,000">1,001 - 10,000</option>
                <option value="Between 10,001 - 100,000">10,001 - 100,000</option>
                <option value="Between 100,001 - 1,000,000">100,001 - 1,000,000</option>
                <option value="Greater than 1,000,000">More than 1,000,000</option>
                <option value="I don't know">I don't know</option>
              </select>
            </div>
          </div>
        </div>