        <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
          <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
            <div>
              <h2 id="env-pref">
                <a href="#env-pref" class="text-ember-500 text-md">
                  ยง
                </a>
                Development Preferences
              </h2>
              <p>
                This section is about your development preferences, whether at
                work or at home.
              </p>
            </div>
            {{! questions go here }}
            <div class="form-group">
              <fieldset>
                <legend class="input-label">
                  Which of these operating systems do you prefer to use when writing code?
                </legend>
                <div class="space-y-2">
                <div class="flex items-center gap-1">
                  <input type="radio" id="os-pref-mac-os" name="os-pref" value="mac-os" />
                  <label for="os-pref-mac-os">macOS</label>
                </div>
                <div class="flex items-center gap-1">
                  <input type="radio" id="os-pref-linux-unix" name="os-pref" value="linux-unix" />
                  <label for="os-pref-linux-unix">Linux/Unix (other than macOS)</label>
                </div>
                <div class="flex items-center gap-1">
                  <input type="radio" id="os-pref-windows" name="os-pref" value="windows" />
                  <label for="os-pref-windows">Windows</label>
                </div>
                <div class="flex items-center gap-1">
                  <input type="radio" id="os-pref-other" name="os-pref" value="other" />
                  <label for="os-pref-other">
                    Other
                  </label>
                </div>
                </div>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="os-work" class="block input-label">
                What operating system do you most frequently use at work?
              </label>
              <select id="os-work" name="os-work">
                <option value="">--please select one</option>
                <option value="macOS">macOS</option>
                <option value="linux">Linux/Unix (other than macOS)</option>
                <option value="windows">Windows</option>
                <option value="other">Something else</option>
              </select>
            </div>
            <div class="form-group">
              <label for="os-home" class="block input-label">
                Which operating system do you most frequently use at home?
              </label>
              <select id="os-home" name="os-home">
                <option value="">--please select one</option>
                <option value="macOS">macOS</option>
                <option value="linux">Linux/Unix (other than macOS)</option>
                <option value="windows">Windows</option>
                <option value="other">Something else</option>
              </select>
            </div>
            <div class="form-group">
              <fieldset>
                <legend class="block input-label">
                  Which is your preferred text editor or development environment?
                </legend>
                <div class="space-y-2">
                <div class="flex items-center gap-1">
                  <input type="radio" id="ide-pref-atom" name="ide-pref" value="atom" />
                  <label for="ide-pref-atom">Atom</label>
                </div>
                <div class="flex items-center gap-1">
                  <input type="radio" id="ide-pref-emacs" name="ide-pref" value="emacs" />
                  <label for="ide-pref-emacs">
                    Emacs
                  </label>
                </div>
                <div class="flex items-center gap-1">
                  <input type="radio" id="ide-pref-vim" name="ide-pref" value="vim" />
                  <label for="ide-pref-vim">
                    Vim
                  </label>
                </div>
                <div class="flex items-center gap-1">
                  <input type="radio" id="ide-pref-vs-code" name="ide-pref" value="vs-code" />
                  <label for="ide-pref-vs-code">
                    Visual Studio Code
                  </label>
                </div>
                <div class="flex items-center gap-1">
                  <input type="radio" id="ide-pref-sublime" name="ide-pref" value="sublime" />
                  <label for="ide-pref-sublime">
                    Sublime Text
                  </label>
                </div>
                <div class="flex items-center gap-1">
                  <input type="radio" id="ide-pref-jetbrains" name="ide-pref" value="jetbrains" />
                  <label for="ide-pref-jetbrains">
                    Jetbrains (brand) IDEs
                  </label>
                </div>
                <div class="flex items-center gap-1">
                  <input type="radio" id="ide-pref-other" name="ide-pref" value="other" />
                  <label for="ide-pref-other">
                    Other
                  </label>
                </div>
                </div>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="env-other-text" class="input-label">If you answered "other", what text editor or IDE do you use? </label>
              <input type="text" id="env-other-text" name="env-other-text" />
            </div>
            <div class="form-group">
              <label for="ide-pref-why" class="block input-label">
                Why do you prefer it?
              </label>
              <textarea rows="4" id="ide-pref-why" name="ide-pref-why" aria-describedby="ide-pref-why-desc"></textarea>
              <p class="input-desc" id="ide-pref-why-desc">
                Example of a helpful response:
                "It has useful language support, syntax highlighting, and intelligent code completion"
              </p>
            </div>
          </div>
        </div>
