
        <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
          <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
            <div>
              <h2 id="closing">
                <a href="#closing" class="text-ember-500 text-md">
                  ยง
                </a>
                In Closing...
              </h2>
            </div>
            <div class="form-group">
              <fieldset>
                <legend aria-describedby="survey-outreach-desc">
                  How did you hear about this survey?
                </legend>
                <p class="w-full mt-0 mb-2 text-sm text-slate-700" id="survey-outreach-desc">
                  Please select any that apply.
                </p>
                <ul>
                  <li>
                    <input type="checkbox" id="survey-email" name="survey-outreach-email" />
                    <label for="survey-email">
                      Email
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="survey-discord" name="survey-outreach-discord" />
                    <label for="survey-discord">
                      Discord
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="survey-social" name="survey-outreach-social" />
                    <label for="survey-social">
                      Social Media
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="survey-work" name="survey-outreach-work" />
                    <label for="survey-work">
                      Announcement At Work
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="survey-website" name="survey-outreach-website" />
                    <label for="survey-website">
                      The Ember Website
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="survey-other" name="survey-outreach-other" />
                    <label for="survey-other">
                      Some other way
                    </label>
                  </li>
                </ul>
              </fieldset>
            </div>
            <div class="form-group">
              <label class="input-label" for="survey-other-text">If you chose "other", please say more:</label>
              <input type="text" id="survey-other-text" name="survey-other-text" />
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  If you participated in any additional developer surveys in the past year, which ones did you take?
                </legend>
                <p class="w-full mt-0 mb-2 text-sm text-slate-700" id="dev-survey-add-desc">
                  Please select any that apply.
                </p>
                <ul>
                  <li><input type="checkbox" id="dev-survey-add-stack-overflow" name="dev-survey-add-stack-overflow"/><label for="dev-survey-add-stack-overflow"> StackOverflow Developer Survey </label></li>
                  <li><input type="checkbox" id="dev-survey-add-github-octoverse" name="dev-survey-add-github-octoverse" /><label for="dev-survey-add-github-octoverse"> GitHub State of the Octoverse Survey </label></li>
                  <li><input type="checkbox" id="dev-survey-add-gitlab" name="dev-survey-add-gitlab" /><label for="dev-survey-add-gitlab"> GitLab Global Developer Survey </label></li>
                  <li><input type="checkbox" id="dev-survey-add-state-of-js" name="dev-survey-add-sojs" /><label for="dev-survey-add-state-of-js"> State of JavaScript Survey </label></li>
                  <li><input type="checkbox" id="dev-survey-add-node-js" name="dev-survey-add-node" /><label for="dev-survey-add-node-js"> Node.js User Survey </label></li>
                  <li><input type="checkbox" id="dev-survey-add-npm-ecosystem" name="dev-survey-add-npm" /><label for="dev-survey-add-npm-ecosystem"> npm JavaScript Ecosystem Survey </label></li>
                  <li><input type="checkbox" id="dev-survey-add-jetbrains" name="dev-survey-add-jetbrains" /><label for="dev-survey-add-jetbrains"> JetBrains State of Developer Ecosystem Survey </label></li>
                  <li><input type="checkbox" id="dev-survey-add-state-of-frontend" name="dev-survey-add-state-of-frontend" /><label for="dev-survey-add-state-of-frontend"> The Software House State of Frontend Survey </label></li>
                  <li><input type="checkbox" id="dev-survey-add-state-of-css" name="dev-survey-add-state-of-css" /><label for="dev-survey-add-state-of-css"> The State of CSS Survey </label></li>
                  <li><input type="checkbox" id="dev-survey-add-other" name="dev-survey-add-other" /><label for="dev-survey-add-other"> Other </label></li>
                </ul>
              </fieldset>
            </div>
            <div class="form-group">
              <label class="input-label" for="dev-survey-add-other-text">If you chose "other", please say more:</label>
              <input type="text" id="dev-survey-add-other-text" name="dev-survey-add-other-text" />
            </div>
            <div class="form-group">
              <label for="feedback-this-survey" class="input-label">
              Do you have any feedback about this survey in particular?
              </label>
              <textarea rows="3" id="feedback-this-survey" />
            </div>
            <div class="form-group">
              <label for="closing-podcast" class="input-label">What is the the name of the most recent podcast you listened to that talked about Ember?</label>
              <input type="text" name="recent-podcast" id="closing-podcast"/>
            </div>
            <div class="form-group">
              <label for="global-loc" class="input-label">Where in the world do you live?</label>
              <input type="text" name="global-loc" id="global-loc" />
            </div>
            <div class="form-group">
              <label for="feedback-other" class="input-label">Is there anything else you would like to the core teams to know?</label>
              <textarea rows="4" id="feedback-other" />
            </div>
            <div class="pt-5">
              <div class="flex justify-end">
                <button type="submit"
                  class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-ember-500 hover:bg-ember-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-ember-600">
                  Submit Survey
                </button>
              </div>
            </div>
          </div>
        </div>
