{{!-- Personal Applications --}}
<div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
  <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
    <div>
      {{! Personal Applications }}
      <h2 id="side-projects">
        <a href="#side-projects" class="text-ember-500 text-md">
          ยง
        </a>
        Side Projects
      </h2>
      <p>
        This section relates to your side projects or
        applications for personal use. If you don't work on any side projects, no worries! If you do, we'd love to hear more about them.
      </p>
    </div>
    {{!-- Do you currently use Ember in side projects or applications for personal use? --}}
    <div class="form-group">
      <fieldset>
        <legend class="input-label">
          Do you currently use Ember in side projects or applications for personal use?
        </legend>
        <input type="radio" id="personal-use-ember-yes" name="personal-use-ember" value="yes"/>
        <label for="personal-use-ember-yes">
          Yes
        </label>
        <input type="radio" id="personal-use-ember-no" name="personal-use-ember" value="yes"/>
        <label for="personal-use-ember-no">
          No
        </label>
      </fieldset>
    </div>
    {{!-- How many collaborators do you work with on your personal Ember applications? --}}
    <div class="form-group">
      <fieldset>
        <legend class="input-label">
          How many collaborators do you work with on your personal Ember applications?
        </legend>
        <input type="radio" id="papp-collabs-none" name="papp-collabs" value="None" />
        <label for="papp-collabs-none">
          None
        </label>
        <input type="radio" id="papp-collabs-1-5" name="papp-collabs" value="Between 1 - 5" />
        <label for="papp-collabs-1-5">
          Between 1 - 5
        </label>
        <input type="radio" id="papp-collabs-6-20" name="papp-collabs" value="Between 6 - 20" />
        <label for="papp-collabs-6-20">
          Between 6 - 20
        </label>
        <input type="radio" id="papp-collabs-21-plus" name="papp-collabs" value="More than 21" />
        <label for="papp-collabs-21-plus">
          More than 21
        </label>

      </fieldset>
    </div>
    <div class="form-group">
      <fieldset>
        <legend class="input-label">
          How often do you work on your side projects?
        </legend>
        <input type="radio" id="side-proj-work-eve" name="side-proj-work"
          value="evenings" />
        <label for="side-proj-work-eve">
          Outside work hours during the work week
        </label>
        <input type="radio" id="side-proj-work-weekends" name="side-proj-work"
          value="weekends" />
        <label for="side-proj-work-weekends">
          Weekends
        </label>
        <input type="radio" id="side-proj-work-daily" name="side-proj-work"
          value="daily" />
        <label for="side-proj-work-daily">
          Daily
        </label>
        <input type="radio" id="side-proj-work-need" name="side-proj-work"
          value="as needed" />
        <label for="side-proj-work-need">
          As Needed
        </label>
      </fieldset>
    </div>
    {{!-- How many personal Ember applications do you maintain / work on regularly? --}}
    <div class="form-group">
      <fieldset>
        <legend class="input-label">
          How many personal Ember apps/addons do you maintain or work on regularly?
        </legend>
        <input type="radio" id="papp-emb-none" name="pers-apps-ember" value="None" />
        <label for="papp-emb-none">
          None
        </label>
        <input type="radio" id="papp-emb-1-3" name="pers-apps-ember" value="Between 1 and 3" />
        <label for="papp-emb-1-3">
          1-3
        </label>
        <input type="radio" id="papp-emb-4-10" name="pers-apps-ember" value="Between 4 and 10" />
        <label for="papp-emb-4-10">
          4-10
        </label>
        <input type="radio" id="papp-emb-11-20" name="pers-apps-ember" value="Between 11 and 20" />
        <label for="papp-emb-11-20">
          11-20
        </label>
        <input type="radio" id="papp-emb-greater-than-20" name="pers-apps-ember"
          value="Greater than 20" />
        <label for="papp-emb-greater-than-20">
          More than 20
        </label>
      </fieldset>
    </div>
    <div class="form-group">
      <fieldset>
        <legend class="input-label">
          Which choice best describes the overall distribution of your personal applications: of all of the
          personal
          applications I work on regularly, _______ of them are Ember apps.
        </legend>
        <input type="radio" id="papp-ember-amt-all" name="papp-ember-amt" value="All" />
        <label for="papp-ember-amt-all">
          All
        </label>
        <input type="radio" id="papp-ember-amt-most" name="papp-ember-amt"
          value="Most" />
        <label for="papp-ember-amt-most">
          Most
        </label>
        <input type="radio" id="papp-ember-amt-half" name="papp-ember-amt"
          value="Half" />
        <label for="papp-ember-amt-half">
          Half
        </label>
        <input type="radio" id="papp-ember-amt-some" name="papp-ember-amt"
          value="Some" />
        <label for="papp-ember-amt-some">
          Some
        </label>
        <input type="radio" id="papp-ember-amt-none" name="papp-ember-amt"
          value="None" />
        <label for="papp-ember-amt-none">
          None
        </label>
      </fieldset>
    </div>

    <div class="form-group">
      <fieldset>
        <legend class="input-label">
          If you use a Static Site Generator for personal projects, do you use any of these?
        </legend>
        <p class="w-full mt-0 mb-2 text-sm text-slate-700" id="papp-ssg-desc">
          Not all static site generators are represented here; please choose any that apply.
        </p>
        <ul>
          <li>
            <input type="checkbox" id="papp-other-ssg-11ty" name="papp-other-ssg-11ty" />
            <label for="papp-other-ssg-11ty">
              11ty
            </label>
          </li>
          <li>
            <input type="checkbox" id="papp-other-ssg-empress" name="papp-other-ssg-empress" />
            <label for="papp-other-ssg-empress">
              Empress
            </label>
          </li>
          <li>
            <input type="checkbox" id="papp-other-ssg-hugo" name="papp-other-ssg-hugo" />
            <label for="papp-other-ssg-hugo">
              Hugo
            </label>
          </li>
          <li>
            <input type="checkbox" id="papp-other-ssg-jekyll" name="papp-other-ssg-jekyll" />
            <label for="papp-other-ssg-jekyll">
              Jekyll
            </label>
          </li>
          <li>
            <input type="checkbox" id="papp-other-ssg-metalsmith" name="papp-other-ssg-metalsmith" />
            <label for="papp-other-ssg-metalsmith">
              Metalsmith
            </label>
          </li>
          <li>
            <input type="checkbox" id="papp-other-ssg-other" name="papp-other-ssg-other"/>
            <label for="papp-other-ssg-other">
              Other
            </label>
          </li>
        </ul>
      </fieldset>
    </div>

    <div class="form-group">
      <label class="input-label" for="papp-other-ssg-other-text">If you chose "other", please say more:</label>
      <input type="text" id="papp-other-ssg-other-text" name="papp-other-ssg-other-text" />
    </div>

    {{!-- Who are the end users of your personal Ember apps? --}}
    <div class="form-group">
      <fieldset>
        <legend class="input-label">
          Who are the end users of your personal Ember apps?
        </legend>
        <p class="w-full mt-0 mb-2 text-sm text-slate-700" id="papp-emb-end-users-desc">
          Please choose all that apply.
        </p>

          <ul>
              <li>
                <input type="checkbox" id="papp-emb-end-users-i2i" name="papp-emb-end-users-me" />
                <label for="papp-emb-end-users-i2i">
                  Me
                </label>
              </li>
              <li>
                <input type="checkbox" id="papp-emb-end-users-internal" name="papp-emb-end-users-internal"/>
                <label for="papp-emb-end-users-internal">
                  People I know or have granted access to
                </label>
              </li>
              <li>
                <input type="checkbox" id="papp-emb-end-users-i2c" name="papp-emb-end-users-i2c" />
                <label for="papp-emb-end-users-i2c">
                  General public
                </label>
              </li>
              <li>
                <input type="checkbox" id="papp-emb-target-users-i2b" name="papp-emb-target-users-i2b" />
                <label for="papp-emb-target-users-i2b">
                  Business consumers, voluntary donors, or any potential sources of additional income
                </label>
              </li>
          </ul>
      </fieldset>
    </div>

    <div class="form-group">
      <label for="papp-say-more" class="input-label">Do you have a favorite side project? Tell us about it if you want to!</label>
      <textarea name="side-proj-say-more" id="papp-say-more" rows="4" />
    </div>
  </div>
</div>