
        <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
          <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
            <div>
              <h2 id="feedback">
                <a href="#feedback" class="text-ember-500 text-md">ยง</a>
                Ember Feedback
              </h2>
              <p>
                This section contains questions that relate Ember specifically. 
              </p>
            </div>

            <div class="form-group">
              <fieldset>
                <legend aria-describedby="fb-new-feat-desc">Have you integrated any of the features released
                  since Octane into your applications?</legend>
                <p class="w-full mt-0 mb-2 text-sm text-slate-700" id="fb-new-feat-desc">
                  Please select any that apply.
                  Not sure what they are?
                  See the <a href="https://blog.emberjs.com/tag/releases" target="_blank"
                    rel="noopener noreferrer external"
                    class="text-ember-500 underline focus:border-ember-500 outline-ember-500">Release Blogs</a> (opens
                  in a new window) for more information.
                </p>
                <ul>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-in-ele" value="in-element-helper" />
                    <label for="feat-in-ele">The <code>in-element</code> helper (v3.20)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-lang" value="lang-flag" />
                    <label for="feat-lang">The <code>--lang</code> flag for new apps (v3.21)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-dest-api" value="destroyable-api" />
                    <label for="feat-dest-api"><code>@ember/destroyable</code> API (v3.22)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-hman" value="helper-manager" />
                    <label for="feat-hman">The helper manager (v3.23)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-invokeHelper" value="invokeHelper" />
                    <label for="feat-invokeHelper"><code>invokeHelper</code> from JS Helper Invocation API
                      (v3.23)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-page-title" value="page-title" />
                    <label for="feat-page-title">`page-title` by default in templates (v.3.24)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-nblocks" value="named-blocks" />
                    <label for="feat-nblocks">Named blocks (v.3.25)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-strict-mode" value="strict-mode" />
                    <label for="feat-strict-mode">Template strict mode (v.3.25)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-embr-flag" value="embroider-flag" />
                    <label for="feat-embr-flag">The <code>--embroider</code> flag for new apps (ember-cli
                      v.3.27)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-cont-help" value="contextual-helpers" />
                    <label for="feat-cont-help">Contextual helpers and/or modifiers (v3.27)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-project-root" value="project-root" />
                    <label for="feat-project-root">Ability run ember serve from outside of a project's root directory
                      (ember-cli v.3.28)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-cust-model" value="custom-model-class" />
                    <label for="feat-cust-model">Ability to define a custom model class (ember-data v.3.28)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-cached-dec" value="cached-decorator" />
                    <label for="feat-cached-dec">The <code>@cached</code> decorator for memoizing the result of a getter
                      based on autotracking (v4.1)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-refresh-router" value="refresh-router" />
                    <label for="feat-refresh-router">Method for refreshing all currently active routes (v4.1)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-serv-exp" value="service-export" />
                    <label for="feat-serv-exp"><code>@service</code> export (replacing <code>inject</code>)
                      (v4.1)</label>
                  </li>
                </ul>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="fb-new-feat-impact" class="input-label">If yes, which had the most positive impact on your app
                or development
                experience?</label>
              <select id="fb-new-feat-impact" name="fb-new-feat-impact" class="input-select">
                <option value="">--please select one--</option>
                <option value="in-ele-helper">The <code>in-element</code> helper (v3.20)</option>
                <option value="lang-flag">The <code>--lang</code> flag for new apps (v3.21)</option>
                <option value="destroyable-api"><code>@ember/destroyable</code> API (v3.22)</option>
                <option value="helper-manager">The helper manager (v3.23)</option>
                <option value="invokehelper-api"><code>invokeHelper</code> from JS Helper Invocation API (v3.23)
                </option>
                <option value="named-blocks">Named blocks (v.3.25)</option>
                <option value="contextual-helpers">Contextual helpers and/or modifiers (v3.27)</option>
                <option value="ember-serve">Ability run ember serve from outside of a project's root directory
                  (ember-cli v.3.28)</option>
                <option value="custom-model">Ability to define a custom model class (ember-data v.3.28)</option>
                <option value="cached-decorator">The <code>@cached</code> decorator for memoizing the result of a getter
                  based on autotracking (v4.1)</option>
                <option value="refresh-all">Method for refreshing all currently active routes (v4.1)</option>
                <option value="service-export"><code>@service</code> export (replacing <code>inject</code>) (v4.1)
                </option>
              </select>
            </div>


            <div class="form-group">
              <fieldset>
                <legend aria-describedby="future-feat-desc">Which of these proposed new Ember features do you think will have a positive impact on your development experience?</legend>
                <p id="future-feat-desc" class="w-full mt-0 mb-2 text-sm text-slate-700">
                  Proposed new features for Ember are captured in <a href="https://github.com/emberjs/rfcs/pulls" target="_blank"
                    rel="noopener noreferrer external"
                    class="text-ember-500 underline focus:border-ember-500 outline-ember-500">RFC documents</a> (link opens in a new window). Not all RFCs are listed here, but please select any that apply.
                </p>
                <ul>
                  {{!-- 
                  <li>
                    <input type="checkbox" id="ffeat-**" name="ffeat-**" />
                    <label for="ffeat-**">### (RFC #)</label>
                  </li>
                  --}}
                  <li>
                    <input type="checkbox" id="ffeat-sp-args" name="ffeat-sp-args" />
                    <label for="ffeat-sp-args">Spreadable Arguments (RFC #593)</label>
                  </li>
                  <li>
                    <input type="checkbox" id="ffeat-stages" name="ffeat-stages" />
                    <label for="ffeat-stages">RFC Stages (RFC #617)</label>
                  </li>
                  <li>
                    <input type="checkbox" id="ffeat-ee" name="ffeat-embroider" />
                    <label for="ffeat-ee">Enable Embroider (RFC #746)</label>
                  </li>
                  <li>
                    <input type="checkbox" id="ffeat-dc-api" name="ffeat-dc-api" />
                    <label for="ffeat-dc-api">Logging and Debugging Context API (RFC #753)</label>
                  </li>
                  <li>
                    <input type="checkbox" id="ffeat-dmm" name="ffeat-dmm" />
                    <label for="ffeat-dmm">Default Modifier Manager (RFC #757)</label>
                  </li>
                  <li>
                    <input type="checkbox" id="ffeat-aispec" name="ffeat-aispec" />
                    <label for="ffeat-aispec">Asset Import Spec (RFC #763)</label>
                  </li>
                  <li>
                    <input type="checkbox" id="ffeat-fctc" name="ffeat-sfc" />
                    <label for="ffeat-fctc">First-Class Component Templates (RFC #779)</label>
                  </li>
                  <li>
                    <input type="checkbox" id="ffeat-cookbook" name="ffeat-cookbook" />
                    <label for="ffeat-cookbook">Add Ember Cookbook (RFC #786)</label>
                  </li>
                  <li>
                    <input type="checkbox" id="ffeat-ts" name="ffeat-ts" />
                    <label for="ffeat-ts">TypeScript Adoption Plan (RFC #800)</label>
                  </li>
                </ul>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="fb-ember-talks" class="input-label">If you have attended any virtual Ember events in the past year,
              what talk was your favorite? Why?</label>
              <textarea rows="2" id="fb-ember-talks" name="fb-ember-talks" />
            </div>
            <div class="form-group">
              <label for="fb-learn-start-diff" class="block input-label">
                When you were first learning Ember, what was the most difficult
                concept to understand?
              </label>
              <input type="text" id="fb-learn-start-diff" name="fb-learn-start-diff" />
            </div>
            <div class="form-group">
              <label for="fb-learn-start-intuit" class="block input-label">
                When you were first learning Ember, what concept felt the most
                intuitive to you?
              </label>
              <input type="text" id="fb-learn-start-intuit" name="fb-learn-start-intuit" />
            </div>
            <div class="form-group">
              <label for="fb-upgrade-diff" class="block input-label">
                Think about the last time you upgraded an Ember app. What version
                did you migrate from/to? How easy/difficult was it? If it was difficult, what was difficult about it?
              </label>
              <textarea rows="4" id="fb-upgrade-diff"
                name="fb-learn-upgrade-diff" />
            </div>
            <div class="form-group">
              <label for="fb-upgrade-blocker" class="block input-label">
                If you were not able to upgrade, what prevented you from upgrading?
              </label>
              <textarea rows="2" id="fb-upgrade-blocker" name="fb-upgrade-blocker" />
            </div>
            <div class="form-group">
              <label for="fb-cust-defaults" class="block input-label">
                Is there anything you immediately add or configure every time you
                make a new Ember application (i.e. install a specific addon, add custom linting rules, etc.)
              </label>
              <textarea rows="2" id="fb-cust-defaults" name="fb-cust-defaults" />
            </div>
            <div class="form-group">
              <label for="fb-gen-ember-exp" class="block input-label">
                Is there anything else you want to tell us about your experiences using
                Ember?
              </label>
              <textarea rows="4" id="fb-gen-ember-exp" name="fb-gen-ember-exp" />
            </div>

          </div>
        </div>