{{page-title "2022 Ember Community Survey"}}
{{! template-lint-disable "no-html-comments" }}
<div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
  <aside class="py-6 px-2 sm:px-6 lg:py-0 lg:px-0 lg:col-span-3">
    <nav class="space-y-1" aria-label="sidebar: form sections navigation">
      <a href="#background" class="focus:border-ember-500 outline-ember-500">
        Your Development Background
      </a>
      <a href="#env-pref" class="focus:border-ember-500 outline-ember-500">
        Development Preferences
      </a>
      <a href="#at-work" class="focus:border-ember-500 outline-ember-500">
        Ember At Work
      </a>
      <a href="#at-home" class="focus:border-ember-500 outline-ember-500">
        Personal Applications
      </a>
      <a href="#feedback" class="focus:border-ember-500 outline-ember-500">
        Feedback
      </a>
      <a href="#closing" class="focus:border-ember-500 outline-ember-500">
        Closing Questions
      </a>
    </nav>
  </aside>
  <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
    <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
      <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
        {{! questions go here }}
        <div class="prose">
          <p class="text-slate-900">
            This survey is primarily intended for developers who use
            <a href="https://github.com/emberjs/ember.js">
              the Ember JavaScript framework
            </a>
            , either for work or personal use, although any developer is welcome to fill out this survey.
            The survey should take approximately 20 minutes to complete.
          </p>
          <p>
            <strong>
              <em>
                All questions are optional.
              </em>
            </strong>
          </p>
          <p>
            If you have any issues completing the survey, please
            <a href="mailto:survey@emberjs.com">
              email us
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
      <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
        <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
          <div class="prose">
            <p class="text-slate-900">
              This survey is for developers who use
              <a href="https://github.com/emberjs/ember.js">
                the Ember JavaScript framework
              </a>
              , either for work or personal use. The survey should take
              approximately 20 minutes to complete.
            </p>
            <p>
              <strong>
                <em>
                  All questions are optional.
                </em>
              </strong>
            </p>
            <p>
              If you have any issues completing the survey, please
              <a href="mailto:melsumner@fastmail.com">
                email us
              </a>
              so we can help.
            </p>
          </div>
        </div>
      </div>
      <form name="survey-22" method="POST" data-netlify="true">
        <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
          <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
            <div>
              <h2 id="background">
                <a href="#background" class="text-ember-500 text-md">
                  ยง
                </a>
                Your Development Background
              </h2>
              <p>
                This section is about your development background in web
                technologies.
              </p>
            </div>
            <input type="hidden" name="form-name" value="survey-22"
              aria-label="leave this one alone it is just for netlify" />
            <div class="form-group">
              <label for="time-use" class="block input-label font-bold">
                How long have you been using Ember?
              </label>
              <select id="time-use" name="time-use" class="input-select">
                <option value="">select one</option>
                <option value="not-yet">I haven't used Ember yet</option>
                <option value="less-than-one">
                  Less than 1 year
                </option>
                <option value="one-to-three">
                  Between 1 - 3 years
                </option>
                <option value="four-to-six">
                  Between 4 - 6 years
                </option>
                <option value="seven-to-nine">
                  Between 7 - 9 years
                </option>
                <option value="more-than-ten">
                  10+ years
                </option>
              </select>
            </div>
            <div class="form-group">
              <fieldset>
                <legend aria-describedby="frameworks-desc">
                  Do you have experience with any of these front-end frameworks?
                </legend>
                <p class="w-full mt-0 mb-2 text-sm text-slate-700" id="frameworks-desc">
                  Not all frameworks are represented here; please choose any that apply.
                </p>
                <ul>
                  <li>
                    <input type="checkbox" id="other-fw-angular" name="other-frameworks" value="angular" />
                    <label for="other-fw-angular">
                      Angular
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="other-fw-astro" name="other-frameworks" value="astro" />
                    <label for="other-fw-astro">
                      Astro
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="other-fw-ember" name="other-frameworks" value="ember" />
                    <label for="other-fw-ember">
                      Ember
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="other-fw-next" name="other-frameworks" value="next" />
                    <label for="other-fw-next">
                      Next
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="other-fw-nuxt" name="other-frameworks" value="nuxt" />
                    <label for="other-fw-nuxt">
                      Nuxt
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="other-fw-svelte" name="other-frameworks" value="svelte" />
                    <label for="other-fw-svelte">
                      SvelteKit
                    </label>
                  </li>
                </ul>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend aria-describedby="libraries-desc">
                  Do you have experience with any of the following UI Libraries?
                </legend>
                <p class="w-full mt-0 mb-2 text-sm text-slate-700" id="libraries-desc">
                  Not all UI libraries are represented here; please choose any that apply.
                </p>
                <ul>
                  <li>
                    <input type="checkbox" id="other-lib-glimmer" name="other-ui-libs" value="glimmer" />
                    <label for="other-lib-glimmer">
                      Glimmer
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="other-lib-preact" name="other-ui-libs" value="preact" />
                    <label for="other-lib-preact">
                      Preact
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="other-lib-react" name="other-ui-libs" value="react" />
                    <label for="other-lib-react">
                      React
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="other-lib-solid" name="other-ui-libs" value="solid" />
                    <label for="other-lib-solid">
                      Solid
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="other-lib-svelte" name="other-ui-libs" value="svelte" />
                    <label for="other-lib-svelte">
                      Svelte
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="other-lib-vue" name="other-ui-libs" value="vue" />
                    <label for="other-lib-vue">
                      Vue
                    </label>
                  </li>
                </ul>
              </fieldset>
            </div>

            <div class="form-group">
              <fieldset>
                <legend aria-describedby="ssg-desc">
                  Do you have experience with any of the following static site generators?
                </legend>
                <p class="w-full mt-0 mb-2 text-sm text-slate-700" id="ssg-desc">
                  Not all static site generators are represented here; please choose any that apply.
                </p>
                <ul>
                  <li>
                    <input type="checkbox" id="other-ssg-11ty" name="other-ssg" value="11ty" />
                    <label for="other-ssg-11ty">
                      11ty
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="other-ssg-empress" name="other-ssg" value="empress" />
                    <label for="other-ssg-empress">
                      Empress
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="other-ssg-hugo" name="other-ssg" value="hugo" />
                    <label for="other-ssg-hugo">
                      Hugo
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="other-ssg-jekyll" name="other-ssg" value="jekyll" />
                    <label for="other-ssg-jekyll">
                      Jekyll
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="other-ssg-metalsmith" name="other-ssg" value="metalsmith" />
                    <label for="other-ssg-metalsmith">
                      Metalsmith
                    </label>
                  </li>
                </ul>
              </fieldset>
            </div>

            <h3>
              Rate your knowledge
            </h3>
            <div class="form-group">
              <fieldset>
                <legend>
                  HTML
                </legend>
                <input type="radio" id="html-none" name="know-html" />
                <label for="html-none">
                  None
                </label>
                <input type="radio" id="html-beginner" name="know-html" />
                <label for="html-beginner">
                  Beginner
                </label>
                <input type="radio" id="html-intermediate" name="know-html" />
                <label for="html-intermediate">
                  Intermediate
                </label>
                <input type="radio" id="html-advanced" name="know-html" />
                <label for="html-advanced">
                  Advanced
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  Accessibility (WAI-ARIA)
                </legend>
                <input type="radio" id="aria-none" name="know-aria" />
                <label for="aria-none">
                  None
                </label>
                <input type="radio" id="aria-beginner" name="know-aria" />
                <label for="aria-beginner">
                  Beginner
                </label>
                <input type="radio" id="aria-intermediate" name="know-aria" />
                <label for="aria-intermediate">
                  Intermediate
                </label>
                <input type="radio" id="aria-advanced" name="know-aria" />
                <label for="aria-advanced">
                  Advanced
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  Cascading Style Sheets (CSS)
                </legend>
                <input type="radio" id="css-none" name="know-css" />
                <label for="css-none">
                  None
                </label>
                <input type="radio" id="css-beginner" name="know-css" />
                <label for="css-beginner">
                  Beginner
                </label>
                <input type="radio" id="css-intermediate" name="know-css" />
                <label for="css-intermediate">
                  Intermediate
                </label>
                <input type="radio" id="css-advanced" name="know-css" />
                <label for="css-advanced">
                  Advanced
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  JavaScript
                </legend>
                <input type="radio" id="js-none" name="know-js" />
                <label for="js-none">
                  None
                </label>
                <input type="radio" id="js-beginner" name="know-js" />
                <label for="js-beginner">
                  Beginner
                </label>
                <input type="radio" id="js-intermediate" name="know-js" />
                <label for="js-intermediate">
                  Intermediate
                </label>
                <input type="radio" id="js-advanced" name="know-js" />
                <label for="js-advanced">
                  Advanced
                </label>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
          <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
            <div>
              <h2 id="env-pref">
                <a href="#env-pref" class="text-ember-500 text-md">
                  ยง
                </a>
                Development Preferences
              </h2>
              <p>
                This section is about your development preferences, whether at
                work or at home.
              </p>
            </div>
            {{! questions go here }}
            <div class="form-group">
              <fieldset>
                <legend>
                  What operating system do you prefer?
                </legend>
                <input type="radio" id="os-pref-mac-os" name="os-pref" value="mac-os" />
                <label for="os-pref-mac-os">
                  macOS
                </label>
                <input type="radio" id="os-pref-linux-unix" name="os-pref" value="linux-unix" />
                <label for="os-pref-linux-unix">
                  Linux/Unix (other than macOS)
                </label>
                <input type="radio" id="os-pref-windows" name="os-pref" value="windows" />
                <label for="os-pref-windows">
                  Windows
                </label>
                <input type="radio" id="os-pref-other" name="os-pref" value="other" />
                <label for="os-pref-other">
                  Other
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="os-work" class="block input-label">
                What operating system do you most frequently use at work?
              </label>
              <input type="text" id="os-work" name="os-work" />
            </div>
            <div class="form-group">
              <label for="os-home" class="block input-label">
                What operating system do you most frequently use at home?
              </label>
              <input type="text" id="os-home" name="os-home" />
            </div>
            <div class="form-group">
              <fieldset>
                <legend for="ide-pref" class="block input-label">
                  What is your preferred text editor or development environment?
                </legend>
                <input type="radio" id="ide-pref-atom" name="ide-pref" value="atom" />
                <label for="ide-pref-atom">
                  Atom
                </label>
                <input type="radio" id="ide-pref-emacs" name="ide-pref" value="emacs" />
                <label for="ide-pref-emacs">
                  Emacs
                </label>
                <input type="radio" id="ide-pref-vim" name="ide-pref" value="vim" />
                <label for="ide-pref-vim">
                  Vim
                </label>
                <input type="radio" id="ide-pref-vs-code" name="ide-pref" value="vs-code" />
                <label for="ide-pref-vs-code">
                  Visual Studio Code
                </label>
                <input type="radio" id="ide-pref-sublime" name="ide-pref" value="sublime" />
                <label for="ide-pref-sublime">
                  Sublime Text
                </label>
                <input type="radio" id="ide-pref-jetbrains" name="ide-pref" value="jetbrains" />
                <label for="ide-pref-jetbrains">
                  Jetbrains IDEs
                </label>
                <input type="radio" id="ide-pref-other" name="ide-pref" value="other" />
                <label for="ide-pref-other">
                  Other
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="ide-pref-why" class="block input-label">
                Why do you prefer it?
              </label>
              <textarea rows="4" id="ide-pref-why" name="ide-pref-why" aria-describedby="ide-pref-why-desc"></textarea>
              <p class="input-desc" id="ide-pref-why-desc">
                Example responses:
                "It has useful language support, syntax highlighting, and intelligent code completion"
              </p>
            </div>
          </div>
        </div>
        <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
          <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
            <div>
              <h2 id="at-work">
                <a href="#at-work" class="text-ember-500 text-md">
                  ยง
                </a>
                Using Ember At Work
              </h2>
              <p>
                This section relates to how you use Ember in at work.
              </p>
            </div>
            {{! questions go here }}
            <div class="form-group">
              <fieldset>
                <legend>
                  Do you currently use Ember at your place of work?
                </legend>
                <input type="radio" id="work-use-ember-yes" name="work-use-ember" />
                <label for="work-use-ember-yes">
                  Yes
                </label>
                <input type="radio" id="work-use-ember-no" name="work-use-ember" />
                <label for="work-use-ember-no">
                  No
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  In which industry or sector(s) does your employer operate?
                </legend>
                <div class="grid grid-cols-2">
                  <div class="col-span-1">
                    <div>
                      <input type="checkbox" id="ws-agriculture" name="work-sector" value="agriculture" />
                      <label for="ws-agriculture">
                        Agriculture
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-advertising" name="work-sector" value="advertising" />
                      <label for="ws-advertising">
                        Advertising
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-arts-entertainment" name="work-sector" value="arts-entertainment" />
                      <label for="ws-arts-entertainment">
                        Arts & Entertainment
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-consulting" name="work-sector" value="consulting" />
                      <label for="ws-consulting">
                        Consulting
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-education" name="work-sector" value="education" />
                      <label for="ws-education">
                        Education
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-financial-services" name="work-sector" value="financial-services" />
                      <label for="ws-financial-services">
                        Financial Services
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-government" name="work-sector" value="government" />
                      <label for="ws-government">
                        Government
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-health-care" name="work-sector" value="health-care" />
                      <label for="ws-health-care">
                        Health Care
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-insurance" name="work-sector" value="insurance" />
                      <label for="ws-insurance">
                        Insurance
                      </label>
                    </div>
                  </div>
                  <div class="col-span-1">
                    <div>
                      <input type="checkbox" id="ws-manufacturing" name="work-sector" value="manufacturing" />
                      <label for="ws-manufacturing">
                        Manufacturing
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-real-estate" name="work-sector" value="real-estate" />
                      <label for="ws-real-estate">
                        Real Estate
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-retailers" name="work-sector" value="retailers" />
                      <label for="ws-retailers">
                        Retailers (Including Online)
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-technology" name="work-sector" value="technology" />
                      <label for="ws-technology">
                        Technology
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-utilities" name="work-sector" value="utilities" />
                      <label for="ws-utilities">
                        Utilities (Telecom/Energy)
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-transportation" name="work-sector" value="transportation" />
                      <label for="ws-transportation">
                        Transportation
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-hospitality" name="work-sector" value="hospitality" />
                      <label for="ws-hospitality">
                        Hospitality
                      </label>
                    </div>
                    <div>
                      <input type="checkbox" id="ws-other" name="work-sector" value="other" />
                      <label for="ws-other">
                        Other
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="work-all-size" class="input-label">How many people are there at your entire
                company?</label>
              <select name="work-all-size" id="work-all-size">
                <option value="">select one</option>
                <option value="Between 1 - 10">1 - 10</option>
                <option value="Between 11 - 20">11 - 20</option>
                <option value="Between 21 - 50">21 - 50</option>
                <option value="Between 51 - 100">51 - 100</option>
                <option value="Between 101 - 1,000">101 - 1,000</option>
                <option value="Greater than 1,000">More than 1,000</option>
                <option value="I don't know">I don't know</option>
              </select>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  How many developers at your company are responsible for writing
                  front-end code?
                </legend>
                <input type="radio" id="work-company-devs-fe-none" name="work-company-devs-fe" value="None" />
                <label for="work-company-devs-fe-none">
                  None
                </label>
                <input type="radio" id="work-company-devs-fe-1-10" name="work-company-devs-fe" value="Between 1 - 10" />
                <label for="work-company-devs-fe-1-10">
                  Between 1 - 10
                </label>
                <input type="radio" id="work-company-devs-fe-11-20" name="work-company-devs-fe"
                  value="Between 11 - 20" />
                <label for="work-company-devs-fe-11-20">
                  Between 11 - 20
                </label>
                <input type="radio" id="work-company-devs-fe-21-50" name="work-company-devs-fe"
                  value="Between 21 - 50" />
                <label for="work-company-devs-fe-21-50">
                  Between 21 - 50
                </label>
                <input type="radio" id="work-company-devs-fe-51-100" name="work-company-devs-fe"
                  value="Between 51 - 100" />
                <label for="work-company-devs-fe-51-100">
                  Between 51 - 100
                </label>
                <input type="radio" id="work-company-devs-fe-greater-than-100" name="work-company-devs-fe"
                  value="Greater than 100" />
                <label for="work-company-devs-fe-greater-than-100">
                  Greater than 100
                </label>
                <input type="radio" id="work-company-devs-fe-idk" name="work-company-devs-fe" value="I don't know" />
                <label for="work-company-devs-fe-idk">
                  I don't know
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  How many developers at your company are responsible for writing
                  code in Ember?
                </legend>
                <input type="radio" id="work-company-devs-ember-none" name="work-company-devs-ember" value="None" />
                <label for="work-company-devs-ember-none">
                  None
                </label>
                <input type="radio" id="work-company-devs-ember-1-10" name="work-company-devs-ember"
                  value="Between 1 - 10" />
                <label for="work-company-devs-ember-1-10">
                  Between 1 - 10
                </label>
                <input type="radio" id="work-company-devs-ember-11-20" name="work-company-devs-ember"
                  value="Between 11 - 20" />
                <label for="work-company-devs-ember-11-20">
                  Between 11 - 20
                </label>
                <input type="radio" id="work-company-devs-ember-21-50" name="work-company-devs-ember"
                  value="Between 21 - 50" />
                <label for="work-company-devs-ember-21-50">
                  Between 21 - 50
                </label>
                <input type="radio" id="work-company-devs-ember-51-100" name="work-company-devs-ember"
                  value="Between 51 - 100" />
                <label for="work-company-devs-ember-51-100">
                  Between 51 - 100
                </label>
                <input type="radio" id="work-company-devs-ember-greater-than-100" name="work-company-devs-ember"
                  value="Greater than 100" />
                <label for="work-company-devs-ember-greater-than-100">
                  Greater than 100
                </label>
                <input type="radio" id="work-company-devs-ember-idk" name="work-company-devs-ember"
                  value="I don't know" />
                <label for="work-company-devs-ember-idk">
                  I don't know
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  How often do you use Ember at work?
                </legend>
              </fieldset>
              <input type="radio" id="work-company-ember-usage-frequency-all-of-the-time"
                name="work-company-ember-usage-frequency" value="All of the time" />
              <label for="work-company-ember-usage-frequency-all-of-the-time">
                All of the time
              </label>
              <input type="radio" id="work-company-ember-usage-frequency-most-of-the-time"
                name="work-company-ember-usage-frequency" value="Most of the time" />
              <label for="work-company-ember-usage-frequency-most-of-the-time">
                Most of the time
              </label>
              <input type="radio" id="work-company-ember-usage-frequency-some-of-the-time"
                name="work-company-ember-usage-frequency" value="Some of the time" />
              <label for="work-company-ember-usage-frequency-some-of-the-time">
                Some of the time
              </label>
              <input type="radio" id="work-company-ember-usage-frequency-never"
                name="work-company-ember-usage-frequency" value="Never" />
              <label for="work-company-ember-usage-frequency-never">
                Never
              </label>
            </div>
            <div class="form-group">
              <legend>
                Does your company intend to hire more Ember developers in the next
                year?
              </legend>
              <input type="radio" id="work-company-ember-hiring-plan-yes" name="work-company-ember-hiring-plan"
                value="Yes" />
              <label for="work-company-ember-hiring-plan-yes">
                Yes
              </label>
              <input type="radio" id="work-company-ember-hiring-plan-no" name="work-company-ember-hiring-plan"
                value="No" />
              <label for="work-company-ember-hiring-plan-no">
                No
              </label>
              <input type="radio" id="work-company-ember-hiring-plan-idk" name="work-company-ember-hiring-plan"
                value="I don't know" />
              <label for="work-company-ember-hiring-plan-idk">
                I don't know
              </label>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  How many Ember apps does your company have?
                </legend>
                <input type="radio" id="work-company-apps-ember-none" name="work-company-apps-ember" value="None" />
                <label for="work-company-apps-ember-none">
                  None
                </label>
                <input type="radio" id="work-company-apps-ember-1-10" name="work-company-apps-ember"
                  value="Between 1 - 10" />
                <label for="work-company-apps-ember-1-10">
                  Between 1 - 10
                </label>
                <input type="radio" id="work-company-apps-ember-11-20" name="work-company-apps-ember"
                  value="Between 11 - 20" />
                <label for="work-company-apps-ember-11-20">
                  Between 11 - 20
                </label>
                <input type="radio" id="work-company-apps-ember-21-50" name="work-company-apps-ember"
                  value="Between 21 - 50" />
                <label for="work-company-apps-ember-21-50">
                  Between 21 - 50
                </label>
                <input type="radio" id="work-company-apps-ember-51-100" name="work-company-apps-ember"
                  value="Between 51 - 100" />
                <label for="work-company-apps-ember-51-100">
                  Between 51 - 100
                </label>
                <input type="radio" id="work-company-apps-ember-greater-than-100" name="work-company-apps-ember"
                  value="Greater than 100" />
                <label for="work-company-apps-ember-greater-than-100">
                  Greater than 100
                </label>
                <input type="radio" id="work-company-apps-ember-idk" name="work-company-apps-ember"
                  value="I don't know" />
                <label for="work-company-apps-ember-idk">
                  I don't know
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  Which choice best describes the overall distribution of web
                  applications at your company: of all of the web applications at
                  my company, _______ of them are Ember apps.
                </legend>

                <input type="radio" id="work-company-apps-ember-proportion-all"
                  name="work-company-apps-ember-proportion" value="All" />
                <label for="work-company-apps-ember-proportion-all">
                  All
                </label>
                <input type="radio" id="work-company-apps-ember-proportion-most"
                  name="work-company-apps-ember-proportion" value="Most" />
                <label for="work-company-apps-ember-proportion-most">
                  Most
                </label>
                <input type="radio" id="work-company-apps-ember-proportion-half"
                  name="work-company-apps-ember-proportion" value="Half" />
                <label for="work-company-apps-ember-proportion-half">
                  Half
                </label>
                <input type="radio" id="work-company-apps-ember-proportion-some"
                  name="work-company-apps-ember-proportion" value="Some" />
                <label for="work-company-apps-ember-proportion-some">
                  Some
                </label>
                <input type="radio" id="work-company-apps-ember-proportion-none"
                  name="work-company-apps-ember-proportion" value="None" />
                <label for="work-company-apps-ember-proportion-none">
                  None
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="select-work-ember-version" class="input-label">
                If there is a version of Ember you primarily work with at your
                job, what is it?
              </label>
              <select class="input-select" id="select-work-ember-version">
                <option value="blank">select one</option>
                <option value="1.x">1.x</option>
                <option value="2.x">2.x</option>
                <option value="3.0 - 3.4">3.0 - 3.4</option>
                <option value="3.5 - 3.8">3.5 - 3.8</option>
                <option value="3.9 - 3.12">3.9 - 3.12</option>
                <option value="3.13 - 3.16">3.13 - 3.16</option>
                <option value="3.17 - 3.20">3.17 - 3.20</option>
                <option value="3.21 - 3.24">3.21 - 3.24</option>
                <option value="3.25 - 3.28">3.25 - 3.28</option>
                <option value="4.x">4.x</option>
                <option value="None">None</option>
                <option value="I don't know">I don't know</option>
              </select>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  What version(s) of Ember do you regularly work with at your job?
                </legend>
                <ul>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-1-x"
                      name="work-company-apps-ember-versions-used" value="1.x" />
                    <label for="work-company-apps-ember-versions-used-1-x">
                      1.x
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-2-x"
                      name="work-company-apps-ember-versions-used" value="2.x" />
                    <label for="work-company-apps-ember-versions-used-2-x">
                      2.x
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-3-0-3-4"
                      name="work-company-apps-ember-versions-used" value="3.0 - 3.4" />
                    <label for="work-company-apps-ember-versions-used-3-0-3-4">
                      3.0 - 3.4
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-3-5-3-8"
                      name="work-company-apps-ember-versions-used" value="3.5 - 3.8" />
                    <label for="work-company-apps-ember-versions-used-3-5-3-8">
                      3.5 - 3.8
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-3-9-3-12"
                      name="work-company-apps-ember-versions-used" value="3.9 - 3.12" />
                    <label for="work-company-apps-ember-versions-used-3-9-3-12">
                      3.9 - 3.12
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-3-13-3-16"
                      name="work-company-apps-ember-versions-used" value="3.13 - 3.16" />
                    <label for="work-company-apps-ember-versions-used-3-13-3-16">
                      3.13 - 3.16
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-3-17-3-20"
                      name="work-company-apps-ember-versions-used" value="3.17 - 3.20" />
                    <label for="work-company-apps-ember-versions-used-3-17-3-20">
                      3.17 - 3.20
                    </label>

                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-3-21-3-24"
                      name="work-company-apps-ember-versions-used" value="3.21 - 3.24" />
                    <label for="work-company-apps-ember-versions-used-3-21-3-24">
                      3.21 - 3.24
                    </label>

                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-3-25-3-28"
                      name="work-company-apps-ember-versions-used" value="3.25 - 3.28" />
                    <label for="work-company-apps-ember-versions-used-3-25-3-28">
                      3.25 - 3.28
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-4-x"
                      name="work-company-apps-ember-versions-used" value="4.x" />
                    <label for="work-company-apps-ember-versions-used-4-x">
                      4.x
                    </label>
                  </li>
                  <li>
                    <input type="checkbox" id="work-company-apps-ember-versions-used-idk"
                      name="work-company-apps-ember-versions-used" value="I don't know" />
                    <label for="work-company-apps-ember-versions-used-idk">
                      I don't know
                    </label>

                  </li>
                </ul>
              </fieldset>


            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  If you use Ember Data in your company's Ember apps, do you
                  typically use the same version as the framework or do you
                  manually change it to a different version number?
                </legend>
              </fieldset>
              <input type="radio" id="work-company-apps-ember-data-version-same"
                name="work-company-apps-ember-data-version" value="It stays the same" />
              <label for="work-company-apps-ember-data-version-same">
                It stays the same
              </label>
              <input type="radio" id="work-company-apps-ember-data-version-different"
                name="work-company-apps-ember-data-version" value="We change it to something else" />
              <label for="work-company-apps-ember-data-version-different">
                We change it to something else
              </label>
              <input type="radio" id="work-company-apps-ember-data-version-none"
                name="work-company-apps-ember-data-version" value="We don't use ember-data" />
              <label for="work-company-apps-ember-data-version-none">
                We don't use ember-data
              </label>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  If you use Ember CLI in your company's Ember apps, do you
                  typically use the same version as the framework or do you
                  manually change it to a different version number?
                </legend>

                <input type="radio" id="work-company-apps-ember-cli-version-same"
                  name="work-company-apps-ember-cli-version" value="It stays the same" />
                <label for="work-company-apps-ember-cli-version-same">
                  It stays the same
                </label>
                <input type="radio" id="work-company-apps-ember-cli-version-different"
                  name="work-company-apps-ember-cli-version" value="We change it to something else" />
                <label for="work-company-apps-ember-cli-version-different">
                  We change it to something else
                </label>
                <input type="radio" id="work-company-apps-ember-cli-version-none"
                  name="work-company-apps-ember-cli-version" value="We don't use ember-cli" />
                <label for="work-company-apps-ember-cli-version-none">
                  We don't use ember-cli
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  What testing framework do you use most frequently in the Ember
                  apps you work on at your job?
                </legend>
                <ul>
                  <li><input type="radio" id="work-company-apps-ember-testing-framework-primary-mocha"
                      name="work-company-apps-ember-testing-framework-primary"
                      value="Mocha (via ember-mocha or ember-cli-mocha)" />
                    <label for="work-company-apps-ember-testing-framework-primary-mocha">
                      Mocha (via ember-mocha or ember-cli-mocha)
                    </label>

                  </li>
                  <li>
                    <input type="radio" id="work-company-apps-ember-testing-framework-primary-qunit"
                      name="work-company-apps-ember-testing-framework-primary"
                      value="QUnit (via ember-quinit or ember-cli-qunit)" />
                    <label for="work-company-apps-ember-testing-framework-primary-qunit">
                      QUnit (via ember-quinit or ember-cli-qunit)
                    </label>
                  </li>
                  <li>
                    <input type="radio" id="work-company-apps-ember-testing-framework-primary-none"
                      name="work-company-apps-ember-testing-framework-primary" value="I dont write tests" />
                    <label for="work-company-apps-ember-testing-framework-none">
                      I don't write tests
                    </label>
                  </li>
                  <li>
                    <input type="radio" id="work-company-apps-ember-testing-framework-primary-other"
                      name="work-company-apps-ember-testing-framework-primary" value="Other" />
                    <label for="work-company-apps-ember-testing-framework-primary-other">
                      Other
                    </label>
                  </li>
                </ul>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="work-ssf" class="input-label">Which of these server-side frameworks do you primarily
                use in your Ember apps at work?</label>
              <select name="server-side-framework-work" id="work-ssf" class="input-select">
                <option value="">select one</option>
                <option value="rails">Rails</option>
                <option value="express">Express</option>
                <option value="Spring / Java">Spring / Java</option>
                <option value="PHP">PHP</option>
                <option value="Elixir">Elixir</option>
                <option value="dotNET">.NET</option>
                <option value="Django">Django</option>
                <option value="Custom">custom internal framework</option>
                <option value="None">None</option>
                <option value="I dont know">I don't know</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="form-group">
              <label for="deploy-work" class="input-label">Where do you primarily deploy your apps?</label>
              <select name="deploy-work" id="deploy-work" class="input-select">
                <option value="">select one</option>
                <option value="aws">Amazon Web Services (AWS)</option>
                <option value="azure">Azure</option>
                <option value="digital-ocean">Digital Ocean</option>
                <option value="github-pages">GitHub Pages</option>
                <option value="heroku">Heroku</option>
                <option value="netlify">Netlify</option>
                <option value="self-host">Self-hosted</option>
                <option value="vercel">Vercel</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  What are the target platform(s) for your company's Ember apps?
                </legend>
                <input type="radio" id="work-company-apps-ember-target-platforms-desktop-only"
                  name="work-company-apps-ember-target-platforms" value="Desktop only" />
                <label for="work-company-apps-ember-target-platforms-desktop-only">
                  Desktop only
                </label>
                <input type="radio" id="work-company-apps-ember-target-platforms-responsive"
                  name="work-company-apps-ember-target-platforms" value="Fully responsive (desktop + devices)" />
                <label for="work-company-apps-ember-target-platforms-responsive">
                  Fully responsive (desktop + devices)
                </label>
                <input type="radio" id="work-company-apps-ember-target-platforms-mobile-only"
                  name="work-company-apps-ember-target-platforms" value="Mobile device only" />
                <label for="work-company-apps-ember-target-platforms-mobile-only">
                  Mobile device only
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>
                  Who are the target users of your company's Ember apps?
                </legend>

                <input type="radio" id="work-company-apps-ember-target-users-b2c"
                  name="work-company-apps-ember-target-users" value="General public (B2C)" />
                <label for="work-company-apps-ember-target-users-b2c">
                  General public (B2C)
                </label>
                <input type="radio" id="work-company-apps-ember-target-users-internal"
                  name="work-company-apps-ember-target-users" value="Internal users" />
                <label for="work-company-apps-ember-target-users-internal">
                  Internal users
                </label>
                <input type="radio" id="work-company-apps-ember-target-users-b2b"
                  name="work-company-apps-ember-target-users" value="Business consumers (B2B)" />
                <label for="work-company-apps-ember-target-users-b2b">
                  Business consumers (B2B)
                </label>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="work-app-users" class="input-label">How many end users do your company's Ember apps
                support?</label>
              <select name="work-app-users" id="work-app-users" class="input-select">
                <option value="">select one</option>
                <option value="Between 1 - 1,000">1 - 1,000</option>
                <option value="Between 1,001 - 10,000">1,001 - 10,000</option>
                <option value="Between 10,001 - 100,000">10,001 - 100,000</option>
                <option value="Between 100,001 - 1,000,000">100,001 - 1,000,000</option>
                <option value="Greater than 1,000,000">More than 1,000,000</option>
                <option value="I don't know">I don't know</option>
              </select>
            </div>
          </div>
        </div>
        <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
          <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
            <div>
              {{! next section title }}
              <h2 id="at-home">
                <a href="#at-home" class="text-ember-500 text-md">
                  ยง
                </a>
                Personal Applications
              </h2>
              <p>
                This section relates to how you use Ember in side projects or
                applications for personal use.
              </p>
            </div>
            {{! questions go here }}
          </div>
        </div>
        <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
          <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
            <div>
              <h2 id="feedback">
                <a href="#feedback" class="text-ember-500 text-md">
                  ยง
                </a>
                Feedback
              </h2>
              <p>
                This section is about the changes to Ember.js released in the past
                year and those scheduled for release in the upcoming year.
              </p>
            </div>

            <div class="form-group">
              <fieldset>
              <legend aria-describedby="fb-new-feat-desc">Have you integrated any of the new features released
                within the last year into your applications?</legend>
                <p class="w-full mt-0 mb-2 text-sm text-slate-700">Please select any that apply.</p>
                <ul>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-serv-exp" value="service-export" />
                    <label for="feat-serv-exp">service export (instead of inject)</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-refresh-router" value="refresh-router"/>
                    <label for="feat-refresh-router">the refresh method added to the router service</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-cached-dec" value="cached-decorator"/>
                    <label for="feat-cached-dec">the @cached decorator</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-cust-model" value="custom-model-class"/>
                    <label for="feat-cust-model">ability to define a custom model class</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-cont-help" value="contextual-helpers" />
                    <label for="feat-cont-help">contextual helpers and/or modifiers</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-strict-mode" value="strict-mode" />
                    <label for="feat-strict-mode">template strict mode</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-nblocks" value="named-blocks" />
                    <label for="feat-nblocks">named blocks</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-invokeHelper" value="invokeHelper" />
                    <label for="feat-invokeHelper">invokeHelper</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-hman" value="helper-manager" />
                    <label for="feat-hman">helper manager</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-dest-api" value="destroyable-api" />
                    <label for="feat-dest-api">@ember/destroyable API</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-lang" value="lang-flag" />
                    <label for="feat-lang">ember new --lang flag</label>
                  </li>
                  <li>
                    <input type="checkbox" name="fb-new-feat" id="feat-in-ele" value="in-element-helper" />
                    <label for="feat-in-ele">in-element helper</label>
                  </li>
                </ul>
                
                
                
                
                
                
             </fieldset>
            </div>
            <div class="form-group">
              <label for="fb-feature-impact">If yes, which had the most positive impact on your app or development
                experience?</label>
            <select id="fb-feature-impact" name="new-features" class="input-select">
                <option value="">select one</option>
                <option value="">using the service export instead of inject</option>
                <option value="">the refresh method added to the router service</option>
                <option value="">the @cached decorator</option>
                <option value="">ability to define a custom model class</option>
                <option value="">contextual helpers and/or modifiers</option>
                <option value="">template strict mode</option>
                <option value="">named blocks</option>
                <option value="">invokeHelper</option>
                <option value="">helper manager</option>
                <option value="">@ember/destroyable API</option>
                <option value="">ember new --lang flag</option>
                <option value="">in-element helper</option>
              </select>
            </div>

          <div class="form-group">
            <!-- TODO: Link to RFCs -->
            Which of these Ember features planned for the next year do you think
            will have the most positive impact on your experience developing
            Ember apps? Why?
          </div>
          <div class="form-group">
            If you have attended any virtual Ember events in the past year,
            which talk was your favorite and why?
          </div>
          <h3 id="feedback-learning">
            <a href="#feedback-learning" class="text-ember-500">
              ยง
            </a>
            Learning Ember
          </h3>
          <p>
            This section is about your experiences using Ember, in general
          </p>
          <div class="form-group">
            <!-- Learning: Getting Started -->
            When you were first learning Ember, what was the most difficult
            thing to understand?
          </div>
          <div class="form-group">
            When you were first learning Ember, what concept felt the most
            intuitive to you?
          </div>
          <div class="form-group">
            Think about the last time you upgraded an Ember app. What version
            did you migrate from/to, and what was the hardest thing about it?
          </div>
          <div class="form-group">
            If you were not able to upgrade, what prevented you from upgrading?
          </div>
          <!-- NEW: Candidates for future built-ins -->
          <div class="form-group">
            Is there anything you immediately add or configure every time you
            make a new Ember application (e.g. an addon, linting rules, etc.)
          </div>
          <div class="form-group">
            Is there anything you want to tell us about your experiences using
            Ember?
          </div>
          <h3 id="feedback-surveys">
            <a href="#feedback-surveys" class="text-ember-500">
              ยง
            </a>
            About Surveys
          </h3>
          <p>
            This section is about this survey and other developer surveys you
            may have taken.
          </p>
          <div class="form-group">
            <fieldset>
              <legend aria-describedby="survey-outreach-desc">
                How did you hear about this survey?
              </legend>
              <input type="checkbox" name="survey-outreach" id="survey-email" value="email" />
              <label for="survey-email">
                Email
              </label>
              <input type="checkbox" name="survey-outreach" id="survey-discord" value="discord" />
              <label for="survey-discord">
                Discord
              </label>
              <input type="checkbox" name="survey-outreach" id="survey-social" value="social" />
              <label for="survey-social">
                Social Media
              </label>
              <input type="checkbox" name="survey-outreach" id="survey-work" value="work" />
              <label for="survey-work">
                Announcement At Work
              </label>
              <input type="checkbox" name="survey-outreach" id="survey-website" value="website" />
              <label for="survey-website">
                The Ember Website
              </label>
            </fieldset>
            <p class="input-desc" id="survey-outreach-desc">
              please select all that apply.
            </p>
          </div>
          <div class="form-group">
            Do you participate in other developer surveys?
          </div>
          <div class="form-group">
            If so, which ones?
          </div>
          <div class="form-group">
            Do you have any general feedback about the experience of the
            completing the community survey?
          </div>
        </div>
        </div>

        <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
          <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
            <div>
              <h2 id="closing">
                <a href="#closing" class="text-ember-500 text-md">
                  ยง
                </a>
                In Closing...
              </h2>
              {{!-- <p>
                This section covers items that do not fit into the previous
                sections.
              </p> --}}
            </div>
            <div class="form-group">
              <label for="global-loc">Where in the world do you live?</label>
              <input type="text" name="global-loc" id="global-loc" />
            </div>
            <div class="form-group">
              <label for="feedback-other">Is there anything else youdd like to tell us?</label>
              <textarea rows="4" id="feedback-other"/>
            </div>
            <div class="pt-5">
              <div class="flex justify-end">
                <button type="submit"
                  class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-ember-500 hover:bg-ember-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-ember-600">
                  Submit Survey
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>