{{page-title "2022 Ember Community Survey"}}
{{! template-lint-disable "no-html-comments" }}
<div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
  <aside class="py-6 px-2 sm:px-6 lg:py-0 lg:px-0 lg:col-span-3">
    <nav class="space-y-1" aria-label="sidebar: form sections navigation">
      <a href="#background" class="focus:border-ember-500 outline-ember-500">
        Your Development Background
      </a>
      <a href="#env-pref" class="focus:border-ember-500 outline-ember-500">
        Development Preferences
      </a>
      <a href="#at-work" class="focus:border-ember-500 outline-ember-500">
        Ember At Work
      </a>
      <a href="#side-projects" class="focus:border-ember-500 outline-ember-500">
        Side Projects
      </a>
      <a href="#feedback" class="focus:border-ember-500 outline-ember-500">
        Ember Feedback
      </a>
      <a href="#closing" class="focus:border-ember-500 outline-ember-500">
        Closing Questions
      </a>
    </nav>
  </aside>
  <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
    <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
      <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
        <div class="prose">
          <p class="text-slate-900">
            This survey is primarily intended for developers who use
            <a href="https://github.com/emberjs/ember.js">the Ember JavaScript framework</a>, either for work or personal use, although any developer is welcome to fill out this survey.
            The survey should take approximately 15 minutes to complete.
          </p>
          <p>
            <strong>
              <em>
                All questions are optional.
              </em>
            </strong>
          </p>
          <p>
            If you have any issues completing the survey, please
            <a href="mailto:survey@emberjs.com">email us</a> so we can help!
          </p>
        </div>
      </div>
    </div>
    <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
      <form name="survey-22" method="POST" data-netlify="true" netlify-honeypot="bot-field">
        <input type="hidden" name="form-name" value="survey-22" aria-label="leave this one alone it is just for netlify" />
        <input name="bot-field" aria-label="do not fill this out if you are a human" class="hidden" />
        <SectionBackground />
        <SectionEnvironment />
        <SectionWork />
        <SectionPersonal />
        <SectionFeedback />
        <SectionClosing />
      </form>
    </div>
  </div>
</div>