{{page-title "Methodology"}}
<div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
  <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
    <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
      <div class="prose w-full">
        <h2>About This Survey</h2>
        <p>This is an annual survey that seeks to discover the ways that developers use Ember.</p>

        <h3>Available Languages</h3>
        <p>This survey is currently only available in English.
          This is because auto-translations are not reliable, and no community member has yet offered to
          translate the survey into a different langauge.
          If you are interested in translating this survey into a different language, please file an issue on
          the repository and let us know; we welcome the inclusion of other languages!
        </p>

        <h3>The Questions</h3>
        <p>Sometimes we will ask for community input on the question selection, but primarily, the questions are
          crafted by volunteer members of the core teams.
          We always use the data from the previous year to improve the survey; this year (2022), we chose to
          refactor some of the questions for better clarity.</p>

        <p>Another explicit goal was to remove any wording that could be perceived as emotionally or
          psychologically manipulative.

          We worked to avoid wording that coupled orthogonal questions in a way where the answer was
          denigrating to others.
          As an example, "have you heard of Foo?" and "Are you interested in learning about Foo?" can be
          considered as psychologically manipulative, because there are many reasons that
        <ol>
          <li>someone has or has not "heard" of Foo</li>
          <li>someone does or does not have "interest" in learning Foo</li>
        </ol>
        We do not wish anyone to feel bad for not hearing about Foo, lacking time and/or interest in learning
        about Foo, nor imply that the two might be connected (as it would take a great deal more work to prove
        causation and correlation.
        </p>
        <p>This year, <a href="https://github.com/melsumner">Melanie Sumner</a> and <a
            href="https://github.com/josephdsumner">Joseph Sumner</a> refactored the survey questions and
          put together this survey site.</p>

        <h3>Sponsors</h3>
        <p>Each year, we advertise the opportunity to sponsor the survey to the community. Sponsorship can come
          in a few different forms:
        <ul>
          <li>Allowing employees the time to work on the survey during work hours</li>
          <li>Paying for a freelancer to work on the survey</li>
          <li>Some combination of both</li>
        </ul>
        </p>
        <p>This year, we have two survey sponsors:
          <a href="">Simplabs</a> and
          <a href="">Acorn Consulting</a>.
          Simplabs is donating the time of their employees to handle several facets of the survey,
          specifically:
        <ul>
          <li>Survey Outreach</li>
          <li>Updating the Ember Website to support the survey</li>
        </ul>
        </p>
        <p>Acorn Consulting has donated the funds to have the survey results analyzed by a community member with
          training in data science and scientific research.</p>
        <p>Netlify is also generously supporting this survey by supporting our open-source account, and we are
          using Netlify forms to support the form on this survey.</p>

        <h3>Outreach</h3>
        <p>First and foremost, the target audience for our survey is existing Ember users.
          We obtain this information in a few ways:
        <ul>
          <li>Users provide their contact information voluntarily</li>
          <li>Users who are members of the Ember Community Discord Server</li>
          <li>Users who are members of Ember Meetup groups</li>
        </ul>
        </p>
        <p>We also share the links to the survey on our social media accounts, and endeavor to reach all of our
          various user groups in the community.
          Anyone who develops for the web is welcome to take the survey; it is open to all.
        </p>
        <h3>Other Questions</h3>
        <p>If you have any other questions that are not covered here, please file an issue on <a href="">the
            GitHub Repository</a> so we can address it directly and openly.</p>
      </div>
    </div>
  </div>
</div>