{{page-title "Methodology"}}
<div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
  <div class="shadow sm:rounded-md sm:overflow-hidden mb-8">
    <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
      <div class="prose w-full">
        <h2>About This Survey</h2>
        <p>This is an annual survey that seeks to discover the ways that developers use Ember.</p>

        <h3>Available Languages</h3>
        <p>
          This survey is currently only available in English; no community member has, at the time of writing, offered to it translate it into a different language. The reliability of auto-translation methods for content that is a hybrid of human and technical languages has not been verified to the extent that we are comfortable deploying an auto-translated survey without verification by native speakers. If you are interested in translating this survey into a different language or verifying the result of auto-translate for a particular language, please file an issue on the repository and let us know; we welcome the inclusion of other languages!
        </p>

        <h3>Survey Content</h3>

        <h4>Question Selection Criteria, Feedback, Continuous Review Process</h4>
        <p>
          Survey question content, format, and selection choices are all continuously reviewed and updated between survey periods to ensure that they are appropriate for the context in which they are asked. In this sense, 'appropriate' questions must satisfy the following criteria:
        <ul>
          <li>
            Informative: they must align with the overall goal of the survey -- that is, to help us make Ember better for its users.
          </li>
          <li>
            Transparent: the underlying motivation for asking the question should be very clear to the participant. When answering a question, the participant should be able recognize how providing us with such information would be directly useful for improving Ember for its users.
          </li>
          <li>
            Feedback-friendly: whenever we ask a question with a list of named responses for the participant to select from, we aim to also include not only an 'Other' alternative for valid responses we might not have known about, but also a corresponding free-form text input for the participant to provide us with their genuine selection. We consider these types of responses to be critical to our survey review process and what 'named' selections should be presented in the following survey. Significant effort is made to manually read through these choices and organize this information.
          </li>
        </ul>
          Between surveys, we also directly ask our community for input about question selection. We do our best to encourage similar feedback in the last section of the survey for those who did not have the opportunity to provide input before it was released -- specifically, with 'Do you have any feedback about this survey in particular?' 
          
          Although they are initially crafted by volunteer members of the core teams -- who know what kind of information would help them make Ember better -- we are confident that the feedback processes in place ensure the integrity and relevance of its content.

        

        <h4>This Year's (2022) Survey Questions</h4>
        Although we always use the data from the previous year to improve the survey; this year (2022), we chose to
        refactor some of the questions for better clarity.</p>

        <p>Another explicit goal was to remove any wording that could be perceived as emotionally or
          psychologically manipulative.

          We worked to avoid wording that coupled orthogonal questions in a way where the answer was
          denigrating to others.
          As an example, "have you heard of Foo?" and "Are you interested in learning about Foo?" can be
          considered as psychologically manipulative, because there are many reasons that
        <ol>
          <li>someone has or has not "heard" of Foo</li>
          <li>someone does or does not have "interest" in learning Foo</li>
        </ol>
        We do not wish anyone to feel bad for not hearing about Foo, lacking time and/or interest in learning
        about Foo, nor imply that the two might be connected (as it would take a great deal more work to prove
        causation and correlation.
        </p>
        <p>This year, <a href="https://github.com/melsumner" target="_blank" rel="noopener noreferrer external">Melanie Sumner</a> and <a
            href="https://github.com/josephdsumner" target="_blank" rel="noopener noreferrer external">Joseph Sumner</a> refactored the survey questions and
          put together this survey site.</p>

        <h3>Publication of Results</h3>
        <p>
          In the interest of transparency, the results of the survey will be published with concomitant additions to the methodology page that provide detailed descriptions about how those results were generated from the raw dataset of survey responses.
  
          It is our aim that someone would be able reproduce the published results from the raw dataset by implementing the procedures described in the "Statistical Analysis" section if they so desired.

          Furthermore, we will also aim to provide the appropriate statistical context for published results so that their underlying meaning is unambiguous. Some examples would be:
          <ul>
            <li>
              Indicating the question type: single-select, multiple-select, etc.
            </li>
            <li>
              Indicating how 'blank' responses were handled, to distinguish between, for example:
              <ol>
                <li>50% of respondents reported using Ember at work</li>
                <li>90% of respondents who elected to answer this question reported using Ember at work</li>
              </ol>
            </li>
            <li>
              Providing justification or underlying rationale for all instances of data processing, such as:
              <ul>
                <li>
                  When similar free-form text responses are aggregated into categories. For example, combining selections of 'vi', 'vim', 'nvim', 'neovim', 'gVim', 'Vis', etc. into a single 'Vi-like' text editor category.
                </li>
                <li>
                  When excluding data points from the results, such as when it is clear that the participant:
                  <ul>
                    <li>submitted a destructive response for the sake of doing so</li>
                    <li>misunderstood the question being asked</li>
                  </ul>
                </li>
                <li>
                  Any normalizations or adjustments made for the purpose of estimating historical data trends for questions that are not identical from year to year, as well as the underlying precedent / assumptions used to guide those adjustments 
                </li>
              </ul>
            </li>
          </ul>
          Overall, we believe that this commitment to achieving complete transparency about our data analysis processes will serve to make the published results as unbiased and informative as possible.
        </p>

        <h3>Sponsors</h3>
        <p>Each year, we advertise the opportunity to sponsor the survey to the community. Sponsorship can come
          in a few different forms:
        <ul>
          <li>Allowing employees the time to work on the survey during work hours</li>
          <li>Paying for a freelancer to work on the survey</li>
          <li>Some combination of both</li>
        </ul>
        </p>
        <p>This year, we have two survey sponsors:
          <a href="https://simplabs.com/" target="_blank" rel="noopener noreferrer external">Simplabs</a> and
          <a href="https://www.acornwebconsultants.com/" target="_blank" rel="noopener noreferrer external">Acorn Consulting</a>.
          Simplabs is donating the time of their employees to handle several facets of the survey,
          specifically:
        <ul>
          <li>Survey Outreach</li>
          <li>Updating the Ember Website to support the survey</li>
        </ul>
        </p>
        <p>Acorn Consulting has donated the funds to have the survey results analyzed by a community member with
          training in data science and scientific research.</p>
        <p>Netlify is also generously supporting this survey by supporting our open-source account, and we are
          using Netlify forms to support the form on this survey.</p>

        <h3>Outreach</h3>
        <p>First and foremost, the target audience for our survey is existing Ember users.
          We obtain this information in a few ways:
        <ul>
          <li>Users provide their contact information voluntarily</li>
          <li>Users who are members of the Ember Community Discord Server</li>
          <li>Users who are members of Ember Meetup groups</li>
        </ul>
        </p>
        <p>We also share the links to the survey on our social media accounts, and endeavor to reach all of our
          various user groups in the community.
          Anyone who develops for the web is welcome to take the survey; it is open to all.
        </p>
        <h3>Other Questions</h3>
        <p>If you have any other questions that are not covered here, please <a href="https://github.com/ember-learn/2022-ember-survey/issues" target="_blank" rel="noopener noreferrer external">file an issue</a>. Thank you!</p>
      </div>
    </div>
  </div>
</div>
